/* Fuild CSS Document */
@charset "UTF-8";

body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

#banner {
    height: auto;
    text-align: center;
    color: #bfaaaa;
}

#navigation {
    list-style: none;
    margin: 5px;
    padding: 0;
    gap: 5px; 
}

#navigation li {
    link-style: none;
    margin: 5px;
    display: inline-block; /* Align menu items inline */
}

#main {
    padding: 20px;
    width: 100%; 
    min-height: auto; 
}

#footer {
    text-align: center;
    padding-top: 10px;
}

.video-section video {
    text-align: center;
    margin: 20px auto;
    display: block; 
    width: 40%;
    height: auto;
}

.video-section figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 5px;
}

video {
    width: 40%;
    height: auto;
    border: 2px solid white;

}

.intro-img img {
    width: 40%;
    height: auto;
    text-align: center;
    margin:0 auto;
    display: block;
}

.intro-img figcaption {
    text-align: center;
    font-style: italic;
    color: white;
    margin-top: 5px;
}

.taskmanager-img img {
    width: 40%;
    height: auto;
    text-align: center;
    margin:0 auto;
    display: block;
}

.taskmanager-img figcaption {
    text-align: center;
    font-style: italic;
    color: white;
    margin-top: 5px;
}

.calculator-img img {
    width: 40%;
    height: auto;
    text-align: center;
    margin:0 auto;
    display: block;
}

.calculator-img figcaption {
    text-align: center;
    font-style: italic;
    color: white;
    margin-top: 5px;
}

.haunted-img img {
    width: 40%;
    height: auto;
    text-align: center;
    margin:0 auto;
    display: block;
}

.haunted-img figcaption {
    text-align: center;
    font-style: italic;
    color: white;
    margin-top: 5px;
}