@charset "UTF-8";
/* Fuild CSS Document */
/* Style for Desktops */ 
@media screen and (min-width:960px) {
}

/* Style for Tablets*/ 
@media only screen and (min-width: 481px) and (max-width:960px) {
    form {
    padding: 15px;
    max-width: 90%; 
    /* The only difference for tablets would be screen and form size */
    /* Background fits based on the viewport */ 
    min-height: 100vh;
    background: linear-gradient(to bottom, #590209 0%, #260101 100%); 
    /*Margin of zero with combination to auto centers the content*/
    margin: 0 auto;
    padding: 20px;
    max-width: 600px; 
    color: #BFAAAA;
    text-align: center;
}
}

/* Style for Phones*/ 
@media screen and (max-width:480px) {
    form { 
        padding: 8px;
        max-width: 100%; 
        /* Background fits based on the viewport */ 
        min-height: 100vh;
        background: linear-gradient(to bottom, #590209 0%, #260101 100%);
        /*Margin of zero with combination to auto centers the content*/
        margin: 0 auto;
        padding: 20px;
        max-width: 600px; 
        color: #BFAAAA;
        text-align: center;
    } 
    
    /* Phone screens make it harder to see low contrast and smaller text so all is updated */ 
    #main {
        background-color: #bc2029;
        color: white;
        padding: 20px;
        width: 100%; 
        } 
    body {
        font-family: Verdana, Geneva, Arial, sans-serif;
        background-color: white;
     } 

    #banner {
    height: auto;
    text-align: center;
    background-color: #400101;
    color: white; 
    }

    .haunted-img figcaption {
        color: black; 
    }
    .calculator-img figcaption {
        color: black; 
    }
    .taskmanager-img figcaption { 
        color: black; 
    }
    .intro-img figcaption {
        color: black; 
    }
    .video-section figcaption {
        color: black; 
    }
} 