@charset "UTF-8";
/*CSS file styling for portfolio website*/

body {
    background: linear-gradient(to bottom, #d97314 0%, #bf3939);
    color: white;
    font-family: 'cursive', 'optima', 'sans-serif';
    padding: 0px;
    margin: 0px;
}

#banner {
    text-align: center;
    background-color: #BF247A;
    color : white;
    padding-top: 5px;
    padding-bottom: 5px;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #242359;
    color: white; 
} 

#right-column {
    float: right;
    width: 600px;
    height: 600px;
    background-color: #242359;
    color: white;
}

#left-column {
    float: left;
    width: 360px;
    height: 600px;
    background-color:  #B12BBC;
    color: white;
}

#footer {
    text-align: center;
    background-color: #BF247A;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1,h2,h3,h4,h5,h6,p,li {
    margin-left: 15px;
    text-align: center;
}


.video-section video {
    text-align: center;
    margin: 20px auto;
    display: block; 
    width: 40%;
    heigth: auto;
}

.video-section figcaption {
    text-align: center;
    font-style: italic;
    color: white;
    margin-top: 5px;
}

video {
    width: 40%;
    height: auto;
    border: 2px solid white;

}

.intro-img img {
    width: 45%;
    height: auto;
    text-align: center;
    margin:0 auto;
    display: block;
}

.intro-img figcaption {
    text-align: center;
    font-style: italic;
    color: white;
    margin-top: 5px;
}